@model ML.Sucursal
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva sucursal</h2>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 col-sm-12 mt-4">
            <div class="card p-4 shadow d-flex flex-column h-100">
                <div id="sucursalMapa" class="rounded-3 shadow" style="height: 22rem;"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-4">
            <div class="card p-4 shadow d-flex flex-column h-100">
                @using (Html.BeginForm("Form", "Sucursal", FormMethod.Post, new { @enctype = "multipart/form-data", @onsubmit = "Enviar(event)" }))
                {
                    @Html.HiddenFor(model => model.IdSucursal)
                    <div class="card-body bg-transparent">
                        <div class="row mb-3">
                                @Html.LabelFor(model => model.Nombre, new { @class = "form-label", @id = "IdSucursal" })
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "Nombre" })
                        </div>
                        <div class="row mb-3">
                            @Html.LabelFor(model => model.Latitud, new { @class = "form-label", @id = "IdSucursal" })
                            @Html.TextBoxFor(model => model.Latitud, new { @class = "form-control", @id = "Latitud", @placeholder = "Solo ponga la ubicación", @readonly = "readonly" })
                        </div>
                        <div class="row mb-3">
                            @Html.LabelFor(model => model.Longitud, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.Longitud, new { @class = "form-control", @id = "Longitud", @placeholder = "Solo ponga la ubicación", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="row mt-2">
                            <div class="col-6 text-start">
                                <a href="@Url.Action("GetAll", "Sucursal")" class="btn btn-danger">
                                    Cancelar
                                    <i class="bi bi-x-square-fill"></i>
                                </a>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-floppy2-fill"></i>
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @*<div class="row ">
    </div>*@
</div>


@{
    string llave = Session["llave"] != null ? Session["llave"].ToString() : "";
    string ruta = $"https://maps.googleapis.com/maps/api/js?key={llave}&libraries=maps,marker&callback=initMap";
}
@Scripts.Render("~/bundles/jquery")
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
<script src="~/Scripts/Espesifics/SweetAlertManager.js"></script>
<script src="@ruta" defer></script>
<script src="~/Scripts/Espesifics/Sucursal/Form.js"></script>